.cards__grid {
  margin: 48px auto;
  display: grid;
  row-gap: 24px;
  max-width: 960px;
  column-gap: 12px;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 450px));
}
