.Main {
  background: #f0f7f4;
  min-height: calc(100vh - 64px);
  padding-block: 64px;

  .dark & {
    background: #202329;
  }
}
.char {
  &__item {
    box-sizing: border-box;
    width: 95%;
    min-width: 300px;
    max-width: 500px;
    height: 200px;
    background-color: #3c3e44;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-self: center;
    box-shadow: 4px 4px 8px #00000080;
  }
  &__image {
    width: 45%;
  }
  &__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__info {
    width: 55%;
    display: flex;
    flex-direction: column;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 8px;

    & span {
      font-size: 18px;
      font-weight: normal;
      text-transform: lowercase;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 12px;
    color: #fff;

    & .status {
      padding-left: 4px;
      gap: 4px;
      display: flex;
      align-items: center;
      justify-content: start;

      &__identifier {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        // background-color: green;
      }
    }
  }
}

.tags {
  margin: 24px auto;
  padding-inline: 8px;
  // border: 1px solid red;
  height: 48px;
  width: 95%;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}
