.pagination {
  margin: 0 auto;
  margin-top: 24px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px;
}
.pagination__button {
  width: 48px;
  padding-block: 4px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #0366d6;
  color: #fff;
  user-select: none;
  outline: none;
}
.pagination__button:hover,
.pagination__button:focus {
  background-color: #3692fc;
  color: #fff;
}
.pagination__button:disabled {
  background-color: #023c7e;
  color: #023c7e;
}

.pagination__indicator {
  width: 80px;
  text-align: center;
  padding-block: 10px;
  border-radius: 8px;
  background-color: #c0c0c0;
  color: #023c7e;
  user-select: none;
  box-sizing: border-box;
}
