.search {
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 24px;
}
.search__input {
  flex-grow: 1;
  border: none;
  height: 40px;
  padding-left: 12px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.search__button {
  border: none;
  padding-inline: 12px;
  background-color: #0366d6;
  color: #fff;
  outline: none;
}
.search__button:focus,
.search__button:hover {
  background-color: #3692fc;
}
