.search {
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 2px 4px #00000080;

  &__input {
    flex-grow: 1;
    border: 1px solid transparent;
    height: 40px;
    padding-left: 12px;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  &__button {
    border: none;
    padding-inline: 12px;
    background-color: #0366d6;
    color: #fff;
    outline: none;
  }
}
.search__button:focus,
.search__button:hover {
  background-color: #3692fc;
}
