.search {
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 2px 4px #00000080;
  background-color: #fff;

  &__input {
    width: 100%;
    flex-grow: 1;
    border: 1px solid white;
    height: 40px;
    padding-left: 12px;
    outline: none;
  }
  &__button {
    border: none;
    padding-inline: 12px;
    background-color: #0366d6;
    border-radius: 0 5px 5px 0;
    color: #fff;
    outline: none;
    align-self: stretch;
  }
  & img {
    width: 20px;
    margin: 8px;
    display: block;
    object-fit: cover;
    background-color: transparent;
  }
}
.search__button:focus,
.search__button:hover {
  background-color: #3692fc;
}
